<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>

</head>
<body>

	<div layout:fragment="contenido">
		<form th:action="@{/clientes/form}" th:object="${cliente}"
			method="post">
			<div class="card-body">

				<div class="form-group">
					<label for="apellido" th:text="#{clientes.form.lastname}"></label>
					<input type="text" class="form-control" id="apellido"
						th:field="*{apellido}" />
				</div>
				<div class="form-group">
					<label for="nombre" th:text="#{clientes.form.firstname}"></label>
					<input type="text" class="form-control" id="nombre"
						th:field="*{nombre}" />
				</div>
				<div class="form-group">
					<label for="fecha" th:text="#{clientes.form.birthdate}"></label>
					<input type="date" class="form-control" id="fecha"
						th:field="*{fechaNacimiento}" />
				</div>

			</div>
			<div class="card-footer text-right">
				<input type="submit" th:value="#{btn.save.text}"
					class="btn btn-primary" />
				<a class="btn btn-secondary" th:href="@{/clientes/list}">
					<span th:text="#{btn.cancel.text}"></span>
				</a>
			</div>
		</form>
	</div>

</body>
</html>