<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head></head>
<body>

	<div layout:fragment="contenido">
		<div class="table-responsive">
			<table class="table table-bordered table-striped table-hover"
				id="tablaClientes" width="100%" cellspacing="0">
				<thead>
					<tr style="background-color: navy; color: white;">
						<th>#</th>
						<th th:text="#{clientes.table.lastname}"></th>
						<th th:text="#{clientes.table.firstname}"></th>
						<th th:text="#{clientes.table.birthdate}"></th>
						<th></th>
					</tr>
				</thead>
				<tfoot>
					<tr style="background-color: navy; color: white;">
						<th>#</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</tfoot>
				<tbody>
					<tr th:each="c : ${clientes}">
						<td th:text="${c.numero}"></td>
						<td th:text="${c.apellido}"></td>
						<td th:text="${c.nombre}"></td>
						<td
							th:text="${#temporals.format(c.fechaNacimiento, 'dd-MM-yyyy')}"></td>
						<td>
							<a th:href="@{/clientes/form/} + ${c.numero}" class="btn btn-sm btn-warning">
								<span th:text="#{clientes.btn.edit}"></span>
							</a>
							<a href="#" class="btn btn-sm btn-danger">
								<span th:text="#{clientes.btn.delete}"></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>

